<div align="center">
<%=form_for [@show, @beacon] do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :major%>
  <%= f.text_field :major%>
  <%= f.label :minor%>
  <%= f.text_field :minor%>
  <%= f.submit "Add Beacon"%>
<%end%>
</div>
<div align="center">
<h2 class=tableHeading> Avaliable Beacons</h2>
<%=link_to "Assign Products", show_beacons_path()%>
<%if @beacons.any?%>
  <table>
    <tr>
      <th>Name</th>
      <th>Major</th>
      <th>Minor</th>
    </tr>

    <%@beacons.each do |beacon|%>

    <tr>
      <td><%=beacon.name%></td>
      <td><%=beacon.major%></td>
      <td><%=beacon.minor%></td>
      <!-- <td><%= link_to "Delete", show_beacons_path(beacon), method: :delete %></td> -->
    </tr>

    <%end%>
  </table>
<%end%>
</div>