<div id="content">
<h1 style="margin-left:120px;">Add a show</h1>
<%=form_for Show.new do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :location%>
  <%= f.text_field :location%>
  <%= f.submit "Add Show"%>
<%end%>
</div>

<div class="or-spacer-vertical right">
  <div class="mask"></div>
</div>


<div id="sidebar">
<% if @show_all.any? %>
 <h1 style="margin-left:-10px;">List of shows</h1>
  <%@show_all.each do |show|%>
  <li>
    <%=link_to show.name, new_show_beacon_path(show)%>
    <%= link_to "Delete", show_path(show), method: :delete %>
    </li>
  <%end%>
<%end%>
</div>