<div align="center">
<%= form_for @product do |f| %>
  <%=f.label :beacon_id %>
  <%=f.text_field :beacon_id%>
  <%=f.label :url%>
  <%=f.text_field :url, :value => @product.image.url(:medium)%>
  <%=f.submit %>
<% end %>

<%if @beacon.any?%>
  <%@beacon.each do |beacon|%>
  <br>
  <li>
    <%=beacon.name%>
    <%=beacon.id%>
  </li>
  <%end%>
<%end%>
</div>
